# Ignore Gradle project-specific cache directory
.gradle
**/.gradle


# Ignore Gradle build output directory
build
**/build

**/out

.idea
**/.idea

.settings
caches
bin
native
out
gradle
wrapper
**/*log
**/*bin
**/*iml
**/*lock
